html{
    font-size: 20px;
}

html body {
    margin: 0;
    padding: 0;
}

* {
    scroll-behavior: smooth;
    color: white;
}

h1 {
    font-size: 3.5rem;
}

.red-text {/*GENERAL -- COLOR*/
    color: red;
    font-size:1.7em;
    line-height: 65%;
}
/* SEPERATE DEVICE SETTING------------------------------------------------------------------------------------------------------- */
/*@media only screen and (min-width: 320px) and (max-width: 480px) {} adding a comma makes the or */
/* ------------------------------------------------------------------------------------------------------------------------------ */

#fixed-header {/*HEADER BASE LAYER*/
    margin: 0;
    padding-left: 1rem;
    font-size: 1rem !important;
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color:rgba(50, 52, 55, 0.851);
}

#header-box {/*HEADER*/
    margin: 0;
    width: 100%;
    padding-right: 10rem;
    background: transparent;
}

#head-name {/*HEADER -- box*/
    display: flex;
    justify-content: flex-start;
    position: fixed;
    margin: auto 0;
    width: 6.7rem;
    height: 0rem;
    font-size: 1rem !important;
}

#head-nav {/*HEADER -- box*/
    display: flex;
    margin-top: 1.8rem;
    list-style: none;
    padding-right: 4rem;
    word-spacing: 4rem;
    justify-content: flex-end;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.head-nav-item {/*HEADER -- item*/
    margin: 0rem 1.5rem;
    width: 2rem;
    height: 3rem;
    
}
.nav-text-dec {/*HEADER*/
    font-size: 1em !important;
}

#head-button {/*HEADER*/
    border: 0.25rem solid red;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: -1rem 0;
    background: transparent;
}

.nav-text-dec:visited {/*HEADER -- LINK*/
    color: blue;
}

.nav-text-dec:hover {/*HEADER -- LINK*/
    font-size:2rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

body {/*MAIN*/
    /*background-color: rgb(73, 203, 73)*/
    background-color: rgba(50, 52, 55, 1);
}

.main-space {/*MAIN -- blank space*/
    height: 5rem;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.link:hover {/*GENERAL -- LINK*/
    /*border: 0.25rem solid grey;*/
    background-color: rgba(122, 122, 122, 0.685);
    border-radius: 1rem;
    padding: 0.25rem;
    overflow: visible;
}

.link:active {/*GENERAL -- LINK*/
    font-size: o.5rem;
    border: 0.25rem solid grey;
    border-radius: 1rem;
    padding: 0.25rem;
    overflow: visible;
}

.link:after {/*GENERAL -- LINK*/
    border: 0.25rem solid grey;
    border-radius: 1rem;
    padding: 0.25rem;
    overflow: visible;
    color:blue;
}

a {/*GENERAL -- LINK*/
    text-decoration: none;
    font-size: 1rem;
}

/*.nav-text-dec:active {}*/

/* MAIN GRID --------------------------------------------------------------------------------------------------------------------*/
.grid-container{/*MAIN*/
    display: grid;
    max-width: 90%;
    position:initial;
    margin: 0 auto;
    gap: 0.5rem;
    grid-template-areas:
        "grid-header grid-header grid-header grid-header"
        "grid-nav vav-right nav-right nav-right"
        "left left right right"
        "grid-footer grid-footer grid-footer grid-footer";

    grid-template-columns: repeat(4/ 25%);
    grid-template-rows: 16rem 25rem 35rem 15rem;
}
.grid-text{/*GRID TEXT*/
    text-align: center;
}
/* MAIN GRID BLOCKS ------------------------------------------------------------------------------------------------------------*/
#grid-header{
    grid-area: grid-header;
    /*background-color: rgb(255, 84, 84);*/
    padding-top: 2.5rem;
    font-family: 'Alfa Slab One';
    letter-spacing: 0.25rem;
    text-shadow: 0.12rem 0.12rem 0 #bbbbbb;
    color: rgb(84, 21, 185);
}
#grid-nav{
    grid-area: grid-nav;
    background-color: rgb(255, 156, 89);
}
.nav-right{
    grid-area: nav-right;
    background-color: rgb(255, 255, 100);
    
    grid-column: 2/ span 3;
}
.left{
    grid-area: left;
    background-color: rgb(96, 221, 96);
}
.right{
    grid-area: right;
    background-color: rgb(41, 141, 255);
}
#grid-footer{
    grid-area: grid-footer;
    background-color: rgb(225, 56, 255);
}