html body {
    margin: 0;
    padding: 0;
}

* {
    scroll-behavior: smooth;
    color: white;
    /*background-color: red;*/
}

h1 {
    font-size: 5rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

header {/*HEADER BASE LAYER*/
    margin: 0;
    padding-left: 1em;
    font-size: 1em !important;
    position: fixed;
    height: 5em;
    width: 100%;
    /*background-color: rgb(51, 103, 51, 0.851)*/
    background-color:rgba(50, 52, 55, 0.851);
}

#header-box {/*HEADER*/
    margin: 0;
    width: 100%;
    padding-right: 10em;
    background: transparent;
}

#head-name {/*HEADER -- box*/
    display: flex;
    justify-content: flex-start;
    position: fixed;
    margin: auto 0;
    width: 6.7em;
    height: 0em;
    font-size: 1em !important;
}

#head-nav {/*HEADER -- box*/
    display: flex;
    margin-top: 1.8em;
    list-style: none;
    justify-content: right;
    padding-right: 8em;
    word-spacing: 4em;
    justify-content: flex-end;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.head-nav-item {/*HEADER -- item*/
    margin: 0em 1.5em;
    width: 2em;
    height: 3em;
    
}
.nav-text-dec {/*HEADER*/
    font-size: 1em !important;
}

#head-button {/*HEADER*/
    border: 0.25em solid red;
    padding: 1em 2em;
    border-radius: 1em;
    margin: -1em 0;
    background: transparent;
}
.cv-dec {
}

.nav-text-dec:visited {/*HEADER -- LINK*/
    color: blue;
}

.nav-text-dec:hover {/*HEADER -- LINK*/
    font-size:2em;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

body {/*MAIN*/
    /*background-color: rgb(73, 203, 73)*/
    background-color: rgba(50, 52, 55, 1);
}

.main-space {/*MAIN -- blank space*/
    height: 5rem;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.link:hover {/*GENERAL -- LINK*/
    border: 0.25rem solid grey;
    border-radius: 1rem;
    padding: 0.25rem;
    overflow: visible;
}

.link:active {/*GENERAL -- LINK*/
    font-size: o.5rem;
    border: 0.25rem solid grey;
    border-radius: 1rem;
    padding: 0.25rem;
    overflow: visible;
}

.link:after {/*GENERAL -- LINK*/
    border: 0.25rem solid grey;
    border-radius: 1rem;
    padding: 0.25rem;
    overflow: visible;
    color:blue;
}

a {/*GENERAL -- LINK*/
    text-decoration: none;
    font-size: 1rem;
}

.nav-text-dec:active {}

.red-text {/*GENERAL -- COLOR*/
    color: red;
}

/* GRID SECTION */
/*
.grid {
    margin: 0 auto;
    display: grid;
    width: 75%;
    height: 70em;
    border: 1px solid yellow;
    
    grid-template: 1fr 1fr 1fr /1fr 1fr;
    gap: 2em 2em;
}
.box{
    border: 1px solid white;
    text-align: center;
}

.box1 {
    grid-row-start: 1;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-end: 3;
}
*/

/* MAIN GRID --------------------------------------------------------------------------------*/
body main { /*GRID*/
    margin: auto;
    display: grid;
    width: 90%;
    height: auto;
    border: 5px solid purple;

    grid-template: repeat(16, 1fr) / repeat(16, 1fr)
}

/*GRID ITEMS*/

.box { /*general box setup*/
    border: 2px solid blue;
    margin: 0;
}

.name {
    /*margin: 0;
    height: 7rem;
    width: 40rem;*/
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.25rem;

    grid-row: 2 / span 2;
    grid-column: 5 / span 8;
}


/*
#main-space{
    border: 2px solid blue;
}
*/